.passwordDisplay {
    height: 260px;
    width: 260px;
    background-image: linear-gradient(-15deg, #9493D0, #BDCCFF);
    color: #222;
    border-radius: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(40, 39, 39, 0.8);
    position: relative;
    /* border: 2px solid yellow; */
}

.passwordContent {
    width: 215px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid lime; */
}

.passwordContent h4 {
    font-size: 1.3rem;
    font-weight: 500;
}

.passwordContent hr {
    border-top: 1px solid #222;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 210px;

}

.passwordContent ul {
    margin-top: 16px;
}

.passwordContent li {
    font-size: 1.15rem;
    margin-bottom: 11px;
}

.check {
    margin-right: 12px;
    vertical-align: -2px;
    color: var(--correct);
}

.incomplete {
    margin-right: 12px;
    vertical-align: -2px;
    color: var(--error);
}