.passwordScreenContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

.passwordDisplay {
    height: 40vh;
    width: 40vh;
    margin: auto;
    margin-top: 3vh;
    background-image: linear-gradient(-15deg, #9493D0, #BDCCFF);
    color: #222;
    border-radius: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(40, 39, 39, 0.8);
    position: relative;
}

.passwordContent {
    width: 215px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.passwordContent h4 {
    font-size: 20px;
    font-weight: 500;
}

.passwordContent hr {
    border-top: 1px solid #222;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 198px;

}

.passwordContent ul {
    margin-top: 16px;
}

.passwordContent li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 11px;
}

.check {
    margin-right: 12px;
    vertical-align: -2px;
    color: var(--correct)
}

.incomplete {
    margin-right: 12px;
    vertical-align: -2px;
    color: var(--error)
}