.forgot {
    min-height: 100vh; /* Set a minimum height of 100vh to cover the viewport */
    height: calc(100% + 1px); /* Add 1px to make sure it covers the full content height */
}

.forgot p {
    color: var(--secondary);
    font-size: 22px;
    display: block;
    width: 300px;
    margin: 5vh auto;
}

.loginLogo p {
    color: #333;
}

.forgot input {
    font-size: 28px;
}

.forgotBottom {
    width: 300px;
    margin: 10vh auto;
}