.singleScoresBanner {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 5px auto 28px;
    height: 50px;
    border-radius: 20px;
}

.singleScoresBanner p {
    font-size: 18px;
    font-weight: 500;
    color: linear-gradient(to right, white, red);
}

.singleScoresBanner span {
    background-image: linear-gradient(to right, lime, aqua, rgb(135, 44, 255), rgb(255, 0, 255), red, orange, yellow, lime);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1000% auto;
    animation: rainbow-animation 32s linear infinite;
    font-size: 20px;
    font-weight: 700;
}
@keyframes rainbow-animation {
    0%, 100% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
}

.singlePlayButton {
    display: flex;
    margin: auto;
    height: 124px;
    width: 160px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.singleNoteSelection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    /* grid-column-gap: 20px;*/
    grid-row-gap: 16px;
    width: 90%;
    margin: 30px auto;
}

.singleNote {
    color: #737373;
    background-color: #fff;
    font-size: 26px;
    font-weight: 700;
    height: 58px;
    width: 58px;
    padding: 3px;
}

.highlightNote {
    color: #515151;
    background-color: #b3b2b2;
    font-size: 26px;
    font-weight: 700;
    height: 58px;
    width: 58px;
}

.guessContainer {
    position: relative;
}

.guessContainer button {
    display: block;
    margin: auto;
    font-size: 28px;
    font-weight: 500;
    width: 142px;
    height: 70px;
    text-align: center;
}

.singleCorrect {
    height: 75px;
    width: 75px;
    color: var(--correct);
    position: absolute;
    top: -2.5px;
    left: calc(50% + 90px);
    /* transform: translateX(-50%); */
}

.singleIncorrect {
    height: 75px;
    width: 75px;
    color: var(--error);
    position: absolute;
    top: -2.5px;
    left: calc(50% + 90px);
}

.bottomButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 30px;
}

.bottomButtons button {
    border-radius: 100%;
    background-color: #fff;
    color: #333;
    width: 60px;
    height: 60px;
    padding: 5px;
}

.navMenuContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(#426BFF, #3E3BD7);
    color: #fff;
    z-index: 10;
    transition: left 1s;
}

.navMenuContainer button {
    position: absolute;
    top: 10px;
    right: 5px;
}

.navMenuContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    width: 150px;
    list-style-type: none;
    margin: 160px auto;
    font-size: 28px;
    font-weight: 400;
}
