.loginContainer {
    min-height: 100vh; /* Set a minimum height of 100vh to cover the viewport */
    height: calc(100% + 1px); /* Add 1px to make sure it covers the full content height */
}

.loginCircle {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    margin: 60px auto 30px;
    background: url('../../images/logo9.jpg') center/cover no-repeat;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.loginForm input {
    margin-bottom: 30px;
}

.loginPasswordChecklist {
    position: absolute;
    top: 400px;
    left: calc(50% + 160px);
    /* border: 2px solid lime; */
}

.loginBottom {
    width: 300px;
    margin: auto;
}

.loginLink {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
}

.loginLink:link {
color:var(--secondary);
}
.loginLink:visited {
color:var(--secondary);
}
.loginLink:hover {
color:#ccc;
}

.loginBottom button {
    margin: 30px 0px;
}

.passwordScreen {
    position: absolute;
    border: 2px solid red;
}


@media screen and (max-width: 840px ) {
    .loginPasswordChecklist {
        top: 130px;
        left: calc(50%);
        transform: translateX(-50%);
        /* border: 2px solid lime; */
    }
}