.lContainer {
    background-image: linear-gradient(#426BFF, #3E3BD7);
    min-height: 100vh; /* Set a minimum height of 100vh to cover the viewport */
    height: calc(100% + 1px); /* Add 1px to make sure it covers the full content height */
    position: relative;
}

.lTitle {
    position: absolute;
    top: 400px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
}

.lTitle h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.lButtons {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    display: flex;
    justify-content: space-around;
}