.lContainer {
    background-image: linear-gradient(#426BFF, #3E3BD7);
    height: 100vh;
    width: 100vw;
    position: relative;
}

.lTitle {
    position: absolute;
    top: 400px;
    left: 41px;
}

.lTitle h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.lButtons {
    position: absolute;
    bottom: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}