.signupContainer {
    min-height: 100vh; /* Set a minimum height of 100vh to cover the viewport */
    height: calc(100% + 1px); /* Add 1px to make sure it covers the full content height */
}

.signupCircle {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    margin: 60px auto 30px;
    background: url('../../images/logo9.jpg') center/cover no-repeat;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.signupForm {
    margin: 20px auto;
    position: relative;
}

.signupForm input {
    margin-bottom: 15px;
}

.signupBirthdayLabel {
    color: gray;
    font-size: 1.7rem;
    position: absolute;
    top: 93.5px;
    left: 50%;
    transform: translateX(-50%) translateX(-86px);
}

.signupHTMLDate::-webkit-calendar-picker-indicator { display: none; }
.signupHTMLDate::-webkit-datetime-edit { text-align: right; }
.signupHTMLDate {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.signupPasswordChecklist {
    position: absolute;
    top: 36px;
    left: calc(50% + 160px);
}

.signupError {
    outline: 2.7px solid var(--error)
}

.signupBottom {
    width: 300px;
    margin: 30px auto;
}

.signupForm button {
    display: block;
}

@media screen and (max-width: 840px ) {
    .signupPasswordChecklist {
        top: -50px;
        left: calc(50%);
        transform: translateX(-50%);
        /* border: 2px solid lime; */
    }
}