.errorContent {
    color: var(--error);
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(-15deg, #9493D0, #BDCCFF);
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
}