.loadingScreenContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

.loadingDisplay {
    height: 42vh;
    width: 41vh;
    margin: auto;
    margin-top: 10vh;
    background-image: linear-gradient(-15deg, #9493D0, #BDCCFF);
    color: #222;
    border-radius: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(40, 39, 39, 0.8);
    position: relative;
}

.loadingContent {
    width: 215px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingContent p {
    margin-top: 16px;
}

.loadingIcon {
    margin-left: 40px;
    margin-bottom: 30px;
}