/* google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow";
}

/* layout */
:root {
    --primary: #05036D;
    --secondary: #fff;
    --error: #be0000;
    --correct: #2E8958;
    --subtext: #737373;

}

body {
    background-image: linear-gradient(#426BFF, #3E3BD7);
    height: 100vh;
    width: 100vw;
    position: relative;
}

button {
    border-radius: 20px;
    border: none;
    background-color: #05036D;
    color: #fff;
    font-size: 24px;
    font-weight: light 300;
    padding: 8px 18px;
}

input {
    display: block;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px 16px;
    height: 63px;
    width: 304px;
    margin: auto;
}

.lCircle {
    height: 310px;
    width: 310px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
}

.lCircle p {
    text-align: center;
    padding-top: 140px;
}

.error {
    display: inline;
    color: var(--error);
    margin-left: 30px;
}

.loading {
    position: absolute;
    bottom: -20px;
    right: 20px;
    background-color: lime;
}

.loading p {
    text-align: right;
}